# Copy the file as "/etc/systemd/system/pgcluu.service"
# To run pgcluu_collectd, use:
#	systemctl start pgcluu_collectd
# to enable automatic start at boot time, use:
#	systemctl enable pgcluu_collectd
# to stop pgcluu_collectd:
#	systemctl stop pgcluu_collectd
#
# Feel free to modify the name of the PostgreSQL service following
# your installation.
#
# For more info about systemd service file, visit
# http://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=Postgresql performance and auditing
Requires=postgresql.service
After=postgresql.service

[Service]
#Type=forking
User=postgres
Group=postgres
#PIDFile=/tmp/pgcluu_collectd.pid
Environment=OUTPUTDIR=/storage/log/psqlStat
Environment=PGPASSWORD=XXXXX
ExecStart=/usr/bin/pgcluu_collectd -i 240 $OUTPUTDIR
ExecStop=/usr/bin/pgcluu_collectd -k

t

