# Feel free to modify the name of the PostgreSQL service following
# your installation.
#
# For more info about custom unit files, see
# http://fedoraproject.org/wiki/Systemd#How_do_I_customize_a_unit_file.2F_add_a_custom_unit_file.3F



[Unit]
Description=Postgresql performance and auditing reporting
Documentation=man:pgcluu(1)


[Service]
PermissionsStartOnly=true
User=postgres
Environment=STATDIR=/var/lib/pgcluu/data
Environment=REPORTDIR=/var/lib/pgcluu/report
ExecStartPre=-/bin/mkdir -p $REPORTDIR
ExecStartPre=-/bin/chown postgres:www-data $REPORTDIR
ExecStartPre=-/bin/chmod u=rwX,g=rsX,o= $REPORTDIR
ExecStart=/usr/local/bin/pgcluu -o $REPORTDIR $STATDIR

[Install]
WantedBy=multi-user.target

